.jumbo_intro {
  text-align: center;
  background-color: rgba(255,255,255,0.4);
}

.jumbotron-index {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../assets/img/pizza.jpg);
}

.jumbotron-menu {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../assets/img/pizza.jpg);
}

.jumbotron-restaurant {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../assets/img/pizza.jpg);
}

.jumbotron-photos {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../assets/img/pizza.jpg);
}

.menu li {
  padding-bottom: 10px;
}

.badge.badge-secondary {
  float: right;
}

.h1-pages {
  background-color: rgba(0,0,0,0.03);
  text-align: center;
}

h3 {
  background-color: rgba(0,0,0,0.03);
}

.py-bxl {
  padding-bottom: 20px;
}

